<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camper.mapper.BoardMapper">

    
<select id="getAllCampInfo" resultType="com.camper.domain.BoardVO">
	select * from campinfo where ccheck ='0'
</select>

<select id="getDetailCampInfo" resultType="com.camper.domain.BoardVO">
	select * from campInfo where cId= #{cid}
</select>

<insert id="goRsrv">
	insert into reservation
	(cId, uId, rFirstName ,rLastName,rPhoneNum)
	values(#{cid}, #{uid},#{rfirstname},  #{rlastname},  #{rphonenum}) 
</insert>

<insert id="check">
	update campinfo
	set ccheck=#{ccheck} where cid=#{cid}
</insert>

<select id="searchCampInfo" resultType="com.camper.domain.BoardVO">
	select * from campinfo where cstartDate = #{cstartDate}::timestamp
</select>

<select id="searchCampInfoCount" resultType="int">
	select count(*) from campinfo where cstartDate = #{cstartDate}::timestamp
</select>



</mapper>